/* main style */
html {
    max-width: 1200px;          /*Max screen width*/
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
}

header {
    height: 45px;
    padding: 10px 20px;
    background-color: #EEE;
    color: black;
}

#trigger {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    height: 45px;
    background-color: transparent; /* Set the color of trigger button to transparent*/
}

#trigger:hover {
    cursor: pointer;
}

div {
    width: 30px;
    height: 1.5px;
    background-color: black;
    margin: 8px 0;  /* Not sure why sometimes one of divs looks thicker*/
  }
  
.menu {
    display: none;
}

.item {
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
}

#welcome {
    margin: 0;
    padding: 100px 50px;
    height: 250px;
    background-color: #CDE;
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#secondarytitle {
    padding: 30px 30px;
    color: black;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.content {
    margin: 0 20px;
}

.box {
    border-radius: 15px;          /*Rounded corner*/
    margin-top: 0px;              /*May need to resize*/
    margin-bottom: 15px;
    padding: 10px 15px;
    height: 250px;
    background-color: #8B98A8;
    text-align: center;
    list-style: none;
}

#call {
    display: block;
    border: 0;
    padding: 18px 15px;
    margin: 20px auto;
    background-color: #CDE;
    text-align: center;
}

#call:hover {
    cursor: pointer;
}


/* Flexbox */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box {
    flex-grow: 1;
}

/* Media Queries */

@media screen and (min-width: 500px) {
    .content {
        flex-direction: row;
    }
    .box {      
        flex-basis: calc((100% - 60px) / 2); /*(100vw - 20px - 60 px)/2 not working*/
        margin: 0 15px 20px 15px;
    }
}

@media screen and (min-width: 800px){
    header {
        display: flex;
    }

   #trigger {
    display: none;

   } 
   .menu {
    display: flex;
    flex: 2;
   }
}
